.modal-underlay {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
}

.ReactModal__Overlay--after-open {
	transition: opacity 0.15s;

	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	position: absolute;

	display: flex;
	align-items: flex-start;

	height: 0;

	outline: 0;
}

.modal-textarea-wrapper {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: space-between;

	box-sizing: border-box;
	margin-bottom: 6px;

	transition: background 0.2s;

	border-radius: 3px;
	background: white;
}

.modal-textarea {
	overflow: hidden;
	flex-grow: 1;

	box-sizing: border-box;
	width: 100%;
	padding: 10px 8px;

	resize: none;

	color: inherit;
	border: 0;
	border-radius: inherit;
	outline: none;
	background: inherit;

	font-family: inherit;
	font-size: 16px;
	line-height: inherit;
}
