@import "../../variables.scss";
$board-width: 220px;
$board-margin: 5px;
$main-margin: 40px;
$create-board-bg: #ddd;
$create-board-focus-bg: #ccc;

@mixin board-button {
	box-sizing: border-box;
	width: $board-width;
	height: 120px;
	margin: $board-margin;
	padding: 10px;

	cursor: pointer;
	transition: background 0.1s;

	border-radius: 6px;

	font-size: 16px;
	font-weight: 700;
}

.home {
	display: inline-flex;
	overflow: auto;
	justify-content: center;

	width: 100%;
	height: 100%;

	background: #eee;
}

.main-content {
	display: inline-flex;
	flex-direction: column;

	width: 4 * $board-width + 8 * $board-margin;
	margin: $main-margin;
}

@media (max-width: 4 * $board-width + 8 * $board-margin + 2 * $main-margin) {
	.main-content {
		width: 3 * $board-width + 6 * $board-margin;
	}
}

@media (max-width: 3 * $board-width + 6 * $board-margin + 2 * $main-margin) {
	.main-content {
		width: 2 * $board-width + 4 * $board-margin;
	}
}
@media (max-width: 2 * $board-width + 4 * $board-margin + 2 * $main-margin) {
	.main-content {
		width: $board-width + 2 * $board-margin;
		margin: $main-margin 0;
	}
}

.main-content h1 {
	margin: 20px 5px;

	font-size: 22px;
}

.boards {
	display: inline-flex;
	flex-wrap: wrap;
}

.board-link {
	display: inline-flex;
	flex-direction: column;

	text-decoration: none;

	color: white;

	@include board-button;
	overflow-wrap: break-word;

	&.green {
		background: $green;
	}
	&.blue {
		background: $blue;
	}
	&.red {
		background: $red;
	}
	&.pink {
		background: $pink;
	}
}

.board-link:hover,
.board-link:focus {
	&.green {
		background: $dark-green;
	}
	&.blue {
		background: $dark-blue;
	}
	&.pink {
		background: $dark-pink;
	}
	&.red {
		background: $dark-red;
	}
}

.board-link-title {
	padding-bottom: 5px;
}

.mini-board {
	display: flex;

	height: 100%;
}

.mini-list {
	display: inline-block;

	box-sizing: border-box;
	width: 24px;
	height: 100%;
	margin-right: 6px;

	border-radius: 3px;
	background: rgba(255, 255, 255, 0.25);
}

.create-board-button {
	margin-bottom: 20px;

	color: #444;
	border: 0;
	background: $create-board-bg;

	@include board-button;
}

.create-board-button:hover,
.create-board-button:focus {
	background: $create-board-focus-bg;
}

.board-adder {
	box-sizing: border-box;
	width: $board-width;
	height: 80px;
	margin: $board-margin;
	margin-bottom: 20px;
	padding: 8px;

	color: #444;
	border-radius: 3px;
	background: $create-board-bg;

	font-size: 16px;
}

.submit-board-button {
	margin: 8px 0 0 0;
	padding: 8px 12px 8px 12px;

	cursor: pointer;
	transition: background 0.2s;

	color: white;
	border: none;
	border-radius: 3px;
	background: $success-button-color;

	font-size: 14px;
	font-weight: 700;
}

.submit-board-button:focus,
.submit-board-button:hover {
	background: $success-button-color-hover;
}

.submit-board-input {
	overflow: hidden;

	box-sizing: border-box;
	width: 100%;
	padding: 4px;

	resize: none;

	color: inherit;
	border: 0;
	border-radius: 3px;

	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
}
