@import "../../variables.scss";

.add-list-button {
	display: inline-flex;
	flex-shrink: 0;

	width: $list-width;
	margin: 0 5px 0 5px;
	padding: 10px;

	cursor: pointer;
	user-select: none;
	transition: background 0.2s;

	color: #ddd;
	border: none;
	border-radius: $list-radius;
	background: rgba(0, 0, 0, 0.15);

	font-size: 14px;
}

.add-list-button:hover,
.add-list-button:focus {
	background: rgba(0, 0, 0, 0.25);
}

.list-adder-textarea {
	float: left;
	overflow: hidden;

	box-sizing: border-box;
	width: 100%;
	padding: 6px 10px;

	resize: none;

	color: $black-text;
	border: 0;
	border-radius: 3px;

	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
}
