@import "../../variables.scss";

.board-title-button {
	display: flex;

	min-width: 0;
	padding: 6px 10px 6px 10px;

	cursor: pointer;
	transition: background 0.1s;

	border: 0;
	border-radius: 3px;
	background: transparent;
}

.board-title-button:hover,
.board-title-button:focus {
	background: $transparent-black;
}

.board-title-text {
	overflow: hidden;

	margin: 0;

	white-space: nowrap;
	text-overflow: ellipsis;

	color: $white;

	font-size: 20px;

	overflow-wrap: break-word;
}

.board-title-input {
	width: 100%;
	padding: 6px 10px 6px 10px;

	color: inherit;
	border: 0;
	background: inherit;

	font-family: inherit;
	font-size: 20px;
	font-weight: 700;
}
